.about {
  display: flex;
  flex-wrap: wrap;
  margin-top: 156px;
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1004px;
    margin: 0 auto;
  }
}
h1 {
  line-height: 80px;
}
h2 {
  margin-top: 23px;
}
.about-text,
.about-img {
  width: 49.3%;
}
/*高さにheightを使わない!!!!内包物とpaddingで高さは作成*/
.about-text {
  width: 27.2%;
  //height: 363px;
  border: 1px solid #707070;
  padding: 76px 67px 54px 68px;
  background-color: #f2f2f2;
  .section-titile {
    font-size: $secound-title-font;
    //text-decoration: underline;
    //padding-bottom: 0.6em;
    //text-underline-offset: 0.4em;
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    &:before {
      content: "";
      position: absolute;
      left: 22%;
      bottom: -25px;
      display: inline-block;
      width: 68px;
      height: 5px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); /*位置調整*/
      background-color: black; /*線の色*/
    }
  }
  h4 {
    font-size: $text-font;
    //padding-bottom: 2em;
    margin-bottom: 43px;
  }
  h5 {
    font-size: $sub-text-font;
    margin-bottom: 7px;
  }
  p {
    line-height: 32px;
  }
}
.about-pic {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .about {
    margin-top: 95px;
  }
  .about-text {
    border: none;
    background-color: white;
    padding: 0px;
    width: 100%;
    .section-titile {
      font-size: 38px;
      &::before {
        bottom: -21px;
      }
    }
    h4 {
      font-size: 12px;
      margin-bottom: 35px;
    }
    h5 {
      font-size: 20px;
      margin-bottom: 16px;
    }
    p {
      line-height: 24px;
    }
  }
  .about-img {
    width: 100%;
    margin-top: 23px;
  }
}
