.about {
  height: 100vh;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 0rem;
}

.about-text,
.about-img {
  width: 50%;
}

.about-text {
  width: 30%;
  height: 500px;
  border: 1px solid #707070;
  padding: 4rem;
  background-color: #f2f2f2;
  h3 {
    font-size: 48px;
    text-decoration: underline;
    padding-bottom: 0.6em;
    text-underline-offset: 0.4em;
  }
  h5 {
    font-size: 16px;
    padding-bottom: 2em;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
    line-height: 2.2rem;
  }
}
.about-pic {
  width: 90%;
  height: 100%;
  margin: 5rem;
}
