.acccess-container {
  width: 1004px;
  margin: 0 auto;
  h3 {
    font-size: $secound-title-font;
    position: relative;
    display: inline-block;
    margin-bottom: 22px;
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      left: 34px;
      bottom: -22px;
      width: 68px;
      height: 5px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); /*位置調整*/
      background-color: black; /*線の色*/
    }
  }
  h4 {
    font-size: $text-font;
    margin-top: 24px;
  }
  h6 {
    margin-bottom: 16px;
  }
  p {
    font-size: $text-font;
    margin-bottom: 32px;
  }
}
.access-text {
  margin-top: 159px;
  margin-bottom: 93px;
}
.map-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 152px;
}
.strong {
  font-size: $sub-text-font;
  font-weight: bold;
  margin-bottom: 20px;
}
.small {
  margin-bottom: 20px;
}

.access-info {
  width: 751px;
  margin: 0 auto;
  margin-bottom: 219px;
}
