.access {
  display: flex;
  //flex-wrap: wrap;
}

.acccess-container {
  width: 1004px;
  margin: 0 auto;
  h3 {
    font-size: $secound-title-font;
    position: relative;
    display: inline-block;
    margin-bottom: 22px;
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      left: 34px;
      bottom: -22px;
      width: 68px;
      height: 5px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); /*位置調整*/
      background-color: black; /*線の色*/
    }
  }
  h4 {
    font-size: $text-font;
    margin-top: 24px;
  }
  h6 {
    margin-left: 9px;
    margin-bottom: 30px;
    font-size: $sub-text-font;
  }
  dd {
    margin-bottom: 20px;
    line-height: 24px;
  }
}
.access-text {
  margin-top: 159px;
  margin-bottom: 97px;
}
.map-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 152px;
  .office-info {
    width: 30%;
  }
  img {
    width: 70%;
  }
}
.strong {
  font-size: $sub-text-font;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Montserrat";
}
.small {
  margin-bottom: 32px;
}

.access-info {
  width: 746px;
  margin: 0 auto;
  margin-bottom: 219px;
}

@media screen and(max-width: 576px) {
  .acccess-container {
    h6 {
      margin-left: 0px;
    }
  }
  .map-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
    .office-info {
      width: 100%;
    }
    img {
      margin-top: 130px;
      width: 100%;
    }
  }
  .access-info {
    width: 100%;
    margin-bottom: 43px;
  }
}
