.blog-section {
  background-color: #f2f2f2;
  padding-top: 138px;
  padding-bottom: 136px;
}
.blog {
  display: flex;
  flex-wrap: wrap;
}
.blog-container {
  width: 1004px;
  margin: 0 auto;
  .section-titile {
    font-size: $secound-title-font;
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
    &::before {
      content: "";
      position: absolute;
      left: 34px;
      bottom: -24px;
      display: inline-block;
      width: 68px;
      height: 5px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); /*位置調整*/
      background-color: black; /*線の色*/
    }
  }
  h4 {
    font-size: $text-font;
    margin-top: 24px;
  }
  time {
    font-size: $text-font;
    font-family: "Montserrat";
    font-weight: bold;
  }

  .blog-title-text {
    color: #4d4d4d;
    margin: 0rem 1rem;
  }
}
.blog-card-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 62px auto;
}
.blog-cards {
  margin: 0 15px 50px 0;
  width: 33.33333333%;
  &:nth-child(4) {
    display: none;
  }
}
.blog-title {
  display: flex;
  justify-content: start;
  margin-top: 29px;
  margin-bottom: 10px;
}
.blog-title-text1 {
  margin: 0rem 1rem;
}
img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .blog-section {
    margin-top: 128px;
    padding-top: 95px;
    padding-bottom: 0;
  }
  .blog-container {
    margin: 0 0 28px 0;
    time,
    h4 {
      font-size: 12px;
      margin-top: 10px;
    }
    .section-titile {
      font-size: 38px;
    }
    .blog-title-text1 {
      margin: 0.5rem;
    }
    .blog-title-text {
      margin: 0.5rem;
    }
  }
  .blog-card-container {
    flex-wrap: wrap;
    margin-top: 45px;
    .blog-cards {
      margin: 0 20px 25px 0;
      width: calc(50% - 20px / 2);
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3n) {
        margin-right: 0px;
      }
      &:nth-child(4) {
        display: block;
      }
      img {
        width: 100%;
      }
      .blog-title {
        margin: 0;
      }
    }
  }
}
