.blog-section {
  background-color: #f2f2f2;
  padding-top: 138px;
  padding-bottom: 136px;
}
.blog-container {
  width: 1004px;
  margin: 0 auto;
  h3 {
    font-size: $secound-title-font;
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
    &::before {
      content: "";
      position: absolute;
      left: 34px;
      bottom: -24px;
      display: inline-block;
      width: 68px;
      height: 5px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); /*位置調整*/
      background-color: black; /*線の色*/
    }
  }
  h4 {
    font-size: $text-font;
    margin-top: 24px;
  }
  time {
    font-size: $text-font;
    font-family: "Montserrat";
    font-weight: bold;
  }

  .blog-title-text {
    color: #4d4d4d;
    margin: 0rem 2rem;
  }
}
.blog-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 62px;
}
.blog-title {
  display: flex;
  justify-content: start;
  margin-top: 29px;
  margin-bottom: 10px;
}
.blog-title-text1 {
  margin: 0rem 1rem;
}
