//メインビジュアルは横幅を指定しないで、フルスクリーンにする
.hero {
  height: 100vh;
  background: url(../images/karly-jones-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  h1 {
    font-size: $title-font;
    color: white;
  }
  h2 {
    font-size: $sub-text-font;
    color: white;
    letter-spacing: 1.6px;
  }
}
/*h1フォントカラー変更*/
.font-color {
  color: black !important;
}
.drawer {
  padding-top: 0rem;
  .drawer-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 10vh;
    padding: 0;
    background-color: transparent;
    border: none;
    .drawer-container {
      margin: 8px 0 0 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
/*ドロワーメニュー全体の背景色を変更する*/
.drawer-nav {
  background-color: transparent;
  /*ドロワーメニュー間の余白調整*/
  .drawer-menu {
    li {
      margin-left: 10px;
      &:nth-child(5) {
        margin-right: 10px;
      }
    }
  }
  .drawer-menu-item {
    color: white;
    font-size: 18px;
    display: block;
    float: right;
    margin: 0rem 0rem 0rem 2rem;
    line-height: 2.75rem;
    &:hover {
      border-bottom: 3px solid #fff;
      border-width: 4px;
      text-decoration: none;
    }
  }
}
/*logo hidden*/
#logo {
  position: fixed;
}
#logo::before {
  content: "";
}
.logo-img {
  position: fixed;
  left: 42px;
  margin-top: 20px;
  width: 120px;
  height: 44px;
}
//メインビジュアルにpsotion:relative;をして、キャッチコピーにはabsoluteをつける
.disp {
  width: 50%;
  padding: 22.3rem 0rem 11rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 142px;
}
.arrow {
  position: absolute;
  right: 48%;
}
@media screen and (max-width: 1023px) {
  .drawer {
    .drawer-navbar {
      .drawer-container {
        width: 0%;
        .drawer-menu {
          margin-left: 40px;
          li {
            margin-bottom: 40px;
          }
          &:nth-child(1) {
            margin-top: 40px;
          }
        }
      }
    }
  }
  /*ハンバーガーアイコンの背景色・位置・余白を変更*/
  .drawer-hamburger {
    width: 2.2rem;
    padding: 30px 25px 40px 20px;
    background-color: white;
    &:hover {
      background-color: white;
    }
  }
  /*manu clickしたら背景色を透明化*/
  .hambuger-open-bk {
    background-color: transparent !important;
  }
  /*ハンバーガーアイコンの線の太さを変更する*/
  .drawer-hamburger-icon,
  .drawer-hamburger-icon:before,
  .drawer-hamburger-icon:after {
    height: 3px;
  }
  /*OPEN時の背景透過・メニュー配置スタイルの変更*/
  .drawer--right.drawer-open .drawer-nav,
  .drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    a {
      color: black;
      font-size: 24px;
      display: contents;
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    margin: 0;
  }
  .drawer {
    .drawer-navbar {
      border: none;
      .drawer-container {
        width: 0%;
      }
    }
  }

  .disp {
    margin: auto 20px;
  }
}

@media screen and(max-width:576px) {
  .drawer-navbar-header {
    padding: 0;
    margin-top: 37px;
  }
  .drawer {
    .drawer-navbar {
      margin: 0px 0px 0px 20px;
      border: none;
    }
  }

  .drawer-hamburger {
    width: 2.2rem;
    padding: 30px 25px 40px 20px;
  }
  .hero {
    position: relative;
    height: 100vh;
    background-position: center;
  }
  .logo-img {
    position: fixed;
    left: 21px;
    margin-top: -7px;
  }
  .arrow {
    width: 20px;
    position: absolute;
    bottom: 13px;
    right: 50%;
    .arrow-dis {
      height: 12px;
    }
  }
  .disp {
    margin: auto 10px;
    padding: 0;
    h1 {
      padding-top: 170px;
      font-size: 40px;
      line-height: 50px;
    }
    h2 {
      font-size: $text-font;
      line-height: 24px;
      margin-top: 0;
    }
  }
}
