//メインビジュアルは横幅を指定しないで、フルスクリーンにする
.hero-section {
  background: url(../images/karly-jones-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*縦横比の％指定　高さ÷幅×100*/
  //padding-top: 66.63%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  margin: 0px 0px 0px 40px;
}
.logo {
  padding-top: 35.3px;
}
.logo-img {
  width: 120px;
  height: 44px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  a {
    color: white;
    font-size: 18px;
    display: block;
    float: right;
    margin: 0rem 0rem 0rem 2rem;
  }
  a:hover {
    border-bottom: 3px solid #fff;
  }
  li {
    margin-right: 30.8px;
    margin-top: -2px;
  }
}

.hero {
  height: 90vh;
  h1 {
    font-size: $title-font;
    color: white;
  }
  h2 {
    font-size: $sub-text-font;
    color: white;
    letter-spacing: 1.6px;
  }
}
//メインビジュアルにpsotion:relative;をして、キャッチコピーにはabsoluteをつける
.disp {
  width: 50%;
  padding: 17.3rem 0rem 11rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrow {
  display: flex;
  justify-content: center;
}
