.item {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  .section-titile {
    font-size: $secound-title-font;
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    &:before {
      content: "";
      position: absolute;
      left: 30%;
      bottom: -25px;
      display: inline-block;
      width: 68px;
      height: 5px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); /*位置調整*/
      background-color: black; /*線の色*/
    }
  }
  dt {
    font-size: $sub-text-font;
    margin-top: 34px;
    line-height: 1px;
  }
  h4,
  h5 {
    font-size: $text-font;
  }
  dd {
    margin-top: 10px;
    line-height: 28px;
    font-size: $text-font;
  }
  .cap-center {
    text-align: center;
  }
  dt {
    font-family: "Montserrat";
    margin-top: 30px;
    line-height: 34px;
    font-weight: bold;
  }
  .item-name {
    margin-top: 22px;
    font-weight: bold;
    font-family: "Montserrat";
  }
}
.item-container {
  width: 1004px;
  margin: 152px auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 23px;
  flex-wrap: wrap;
}

.item-card {
  width: 324px;
  img {
    width: 100%;
    height: 215px;
  }
}

@media screen and(max-width: 576px) {
  .item {
    height: auto;
    .item-container {
      margin: 130px auto;
      .section-titile {
        font-size: 38px;
        margin-bottom: 32px;
        &::before {
          bottom: -18px;
        }
      }
    }
    h4,
    .item-name {
      font-size: 12px;
      margin-top: 9px;
    }
    dt {
      margin-top: 18px;
      line-height: 30px;
    }
    dd {
      font-size: 12px;
      margin-top: 9px;
      line-height: 20px;
      margin-bottom: 18px;
    }
  }

  .item-card {
    width: 100%;
    margin: 4px auto;
    img {
      height: 100%;
    }
  }
}
